<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Roast My Resume</title>

    <link rel="icon" href="/images/RMR.jpg">

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/single-trade/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/58b9791761.js"></script>
    <!-- Custom styles for this template -->
    <link href="/bootstrap/home/css/small-business.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/api/Resumes">Roast My Resume</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
              <% if (user) { %>
                <li class="nav-item">
                  <a class="nav-link" href="/api/Resumes/MyResumes/<%= user.username %>">My Resumes </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/users/logout">Logout</a>
                  </li>
               <% } else { %>
                <li class="nav-item">
                  <a class="nav-link" href="/api/users/login">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/api/users/new">Sign Up</a>
                </li>
              <% }%>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Portfolio Item Heading -->
      <h1 class="my-4"><%= resume.name %>
      </h1>

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-lg-8">
            <embed class="" src="<%= resume.resumePDF %>" width="700" height="800" type='application/pdf'>
        </div>

        <div class="col-md-4">
            <h3 class="my-3">Resume Details</h3>
          
            <li>Name: <%= resume.name %></li>
            <li>Type: <%= resume.type %></li>
            <li>Written By: <%= resume.owner %></li>
          <h3 class="my-3">Resume Description</h3>
          <p><%= resume.desc %></p>
         
          <% if (user && (user.username == resume.owner || user.username == TopAdmin)) { %>
            <a class="btn btn-primary btn-lg" href="/api/Resumes/delete/<%= resume._id %>">Delete</a>
            <br>
          <% }%>

          <h3 class="my-3">Roasts</h3>
          <div class="form-group">
            <% for (var i = 0; i <= resume.commentAuthorArray.length-1; i++) { %>
                <p><%= resume.commentAuthorArray[i] %> says: <%= resume.commentContentArray[i] %> </p>  
          <% } %>
        </div>
        <br></br>
        <form action="/api/Resumes//NewComment/<%= resume._id %>" method="POST">   
          <div class="form-group">
              <textarea rows="2" cols="40"class="form-control" name="comment" id="comment" placeholder="Roast This Resume" required></textarea>
          </div>
          <div class="form-group">
              <button class="btn btn-lg btn-primary btn-block">Comment</button>
          </div>
      </form>         
        </div>
      </div>

    </div>
    <!-- /.container -->
    <br>
    <br>
    <br>
    <br>
    <!--
 
    <footer class="py-2 bg-dark fixed-bottom ">
      <div class="container">
          <div class="text-center col-md-12 col-md-offset-4">
            <a href="https://github.com/AidanHa/Roast-My-Resume" target="_blank">
              <i class="fa fa-github" aria-hidden="true" style="color: white; font-size: 40px;"></i>
            </a>
      </div>
      </div>

    </footer>
  -->
    <!-- Bootstrap core JavaScript -->
    <script src="/bootstrap/single-trade/vendor/jquery/jquery.min.js"></script>
    <script src="/bootstrap/single-trade/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
